
<title>高博思</title>
<h1>電子報</h1>
<p>123</p>
<form class="form-control" method="post" action="send_mail" target="_blank">
    <input class="form-control" type="text" name="first_name" placeholder="First Name">
    <input class="form-control" type="text" name="last_name" placeholder="Last Name">
    <div>
      <input class="form-control" type="text" name="email" placeholder="Email">
    </div>
    <br>
    <div>
      <input class="form-control btn" type="submit" value="馬上訂閱技術週刊">
    </div>
</form>